/* SECTION element selector */
body {
    background-color: #061130;
}
h1 {
    color: yellow;
}
h2 {
    color: white;
}
p {
    color: white;
}

img{
    height: 60vh;
    width: 100vh;
    object-position: right;
}
footer{
    background-color: #F4F6F8;
}

section{
    background-color: #F4F6F8;
}

/* SECTION class selector */

.display-flex {
    display: flex;
}


.main {
    justify-content: flex-end;
}

.web-section {
    justify-content: space-evenly;

}
.web-button {
    color: blue;
    justify-content: space-around;
    text-decoration: underline;
}

.text-center{
    text-align: center;
}
.text{
    color: black;
}
/* test */